.logo {
  background-color: #000000;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left top;
  padding: 10px;
  width: auto;
  height: 100px;
}
.classContainerNavbar {
  list-style-type: none;
  display: flex;
  align-items: center;
  background-color: #000000;
  color: red;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
}
.categories {
  text-decoration: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}
a {
  text-decoration: none;
  margin-right: 20px;
  color: red;
}
