.logo {
  background-color: #000000;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left top;
  padding: 10px;
  width: auto;
  height: 100px;
}

.classContainerNavbar {
  background-color: black;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.classContainerNavbar .categories {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.classContainerNavbar .categories a {
  color: red;
  text-decoration: none;
  font-weight: bold;
}

.classContainerNavbar .categories a:hover {
  color: #ff6666;
}
